# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env

# ppt
.ppt
.pptx

.idea


# thrid party repos
third_party_repos/

# experimental stuff
experimental/
