# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env

# ppt
.ppt
.pptx

.idea


# third party repos
third_party_repos/

# experimental stuff
experimental/

# solutions
999 Solutions.ipynb

# diagrams
.graphml

# GIMP files
.xcf